# Ćwiczenie 5 Zaawansowane operacje na danych - szacowany czas 60-70 minut

#### Zaawansowane operacje na danych

In [26]:
# Tworzenie plików Excel z danymi
    # Zaimportuj moduł pandas: Użyj modułu pandas, aby stworzyć dane i zapisać je w dwóch osobnych plikach Excel. Każdy plik będzie miał dwa arkusze:
        # Sheet1 zawiera dane pracowników, takie jak: ID, Name, Department, Salary.
        # Sheet2 zawiera dane dotyczące godzin pracy (ID, Date, Hours Worked).
    # Utwórz pliki Excel: Przygotuj dane dla dwóch plików Excel (data1.xlsx i data2.xlsx) w formie dwóch arkuszy w każdym pliku. Skorzystaj z obiektu DataFrame i zapisz go za pomocą metody to_excel().

# Tworzenie pliku CSV z danymi projektu
    # Utwórz dane CSV: Stwórz dane dla projektu (ID, Project, Hours) i zapisz je do pliku CSV przy użyciu funkcji to_csv().

# Ładowanie danych z plików Excel i CSV
    # Załaduj dane z plików Excel: Skorzystaj z funkcji read_excel() z modułu pandas, aby załadować dane z obu plików Excel (data1.xlsx i data2.xlsx). Wczytaj dane z obu arkuszy w każdym pliku.
    # Załaduj dane z pliku CSV: Użyj funkcji read_csv() z pandas, aby załadować dane dotyczące projektu z pliku CSV.

# Łączenie danych z różnych źródeł
    # Połącz dane z arkuszy: Użyj funkcji concat(), aby połączyć dane pracowników z obu plików Excel. W ten sposób utworzysz jeden spójny zestaw danych dotyczący pracowników oraz ich godzin pracy.

# Przekształcanie danych
    # Stwórz tabelę przestawną: Użyj funkcji pivot_table(), aby przekształcić dane godzin pracy na tabelę przestawną. W tej tabeli wartości w kolumnach będą reprezentowały liczby przepracowanych godzin w poszczególnych dniach dla każdego pracownika.

# Grupowanie danych
    # Grupuj dane według działu: Skorzystaj z funkcji groupby() z modułu pandas, aby pogrupować dane według działu pracowników (Department) i obliczyć różne statystyki dla wynagrodzeń, takie jak średnia (mean), mediana (median) i odchylenie standardowe (std).

# Filtrowanie danych
    # Filtruj dane: Skorzystaj z operacji logicznych, aby przefiltrować dane pracowników, na przykład wyświetlając tylko tych z działu Engineering, którzy zarabiają więcej niż 50,000.

# Uzupełnianie brakujących danych
    # Wypełnianie braków: Skorzystaj z metody fillna(), aby uzupełnić brakujące dane wynagrodzeń średnią wartością wynagrodzenia.

# Łączenie przekształconych danych
    # Scal dane: Użyj funkcji merge() z pandas, aby połączyć dane o pracownikach z tabelą przestawną dotyczącą godzin pracy na podstawie wspólnego klucza, jakim jest kolumna ID.

# Usuwanie duplikatów
    # Usuń zduplikowane wiersze: Skorzystaj z metody drop_duplicates(), aby pozbyć się ewentualnych zduplikowanych wierszy w wynikowym DataFrame.

# Sortowanie danych
    # Posortuj dane: Skorzystaj z metody sort_values(), aby posortować dane według kolumny Salary (od najwyższego do najniższego wynagrodzenia).

# Zapisanie przetworzonych danych do nowego pliku Excel
    # Zapisz dane: Użyj funkcji to_excel(), aby zapisać przetworzone dane do nowego pliku Excel (processed_data.xlsx). Zapisz różne arkusze, takie jak:
        # Dane przekształcone (Merged Data)
        # Grupowanie wynagrodzeń (Grouped Salary)
        # Tabela przestawna godzin pracy (Pivot Hours)
        # Przefiltrowani pracownicy (Filtered Employees)

# Tworzenie wykresów w Excelu za pomocą openpyxl
    # Zaimportuj moduł openpyxl: Użyj openpyxl, aby dodać wykresy do pliku Excel, na podstawie wcześniej zapisanych danych.
# Tworzenie wykresów:
    # Wykres słupkowy: Tworzy wykres słupkowy (BarChart) dla średnich wynagrodzeń w poszczególnych działach.
    # Wykres liniowy: Tworzy wykres liniowy (LineChart) przedstawiający zmiany wynagrodzeń w czasie dla pracowników.
    # Wykres kołowy: Tworzy wykres kołowy (PieChart) przedstawiający rozkład wynagrodzeń w różnych działach.
    # Wykres punktowy: Tworzy wykres punktowy (ScatterChart) pokazujący rozkład wynagrodzeń w odniesieniu do działu.

# Zapisanie zmian w pliku Excel
    # Zapisz plik z wykresami: Po dodaniu wykresów, zapisz plik Excel, aby zmiany zostały zachowane.

# Wynik:
    # Plik processed_data.xlsx zawiera przetworzone dane o pracownikach, ich godzinach pracy oraz różne analizy.
    # W pliku znajdują się również różne wykresy, które wizualizują wynagrodzenia pracowników w różnych układach.

#### Tworzenie danych

In [ ]:
# Dane do pliku Excel 1
# Dane do pliku Excel 1
data1_sheet1 = {
    'ID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['HR', 'Engineering', 'Marketing', 'Finance', 'IT'],
    'Salary': [50000, 55000, 60000, 70000, 65000]
}

data1_sheet2 = {
    'ID': [1, 2, 3, 4, 5],
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
    'Hours Worked': [8, 7.5, 8, 6, 8]
}

In [ ]:
# Dane do pliku Excel 2
data2_sheet1 = {
    'ID': [6, 7, 8, 9, 10],
    'Name': ['Frank', 'Grace', 'Hank', 'Ivy', 'Jack'],
    'Department': ['HR', 'Engineering', 'Marketing', 'Finance', 'IT'],
    'Salary': [52000, 58000, 61000, 72000, 66000]
}

data2_sheet2 = {
    'ID': [6, 7, 8, 9, 10],
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
    'Hours Worked': [8, 7, 8, 6.5, 8]
}

In [ ]:
# Dane do pliku csv
data_csv = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Project': ['Project A', 'Project B', 'Project C', 'Project D', 'Project E', 'Project F', 'Project G', 'Project H', 'Project I', 'Project J'],
    'Hours': [10, 12, 8, 15, 10, 14, 11, 9, 16, 13]
}

In [ ]:
# Wczytywanie danych z plików Excel

In [ ]:
# Wczytywanie danych z pliku CSV

In [ ]:
# Łączenie danych z różnych arkuszy i plików w jeden DataFrame

In [ ]:
# Przekształcanie danych
pivot_hours = df_hours.pivot_table(index='ID', columns='Date', values='Hours Worked', aggfunc='sum', fill_value=0)
pivot_hours

In [ ]:
# Grupowanie danych według działu i obliczanie średniego wynagrodzenia, mediany i odchylenia standardowego

In [ ]:
# Filtrowanie danych według złożonych kryteriów

In [ ]:
# Uzupełnianie brakujących danych
df_employees.fillna({'Salary': df_employees['Salary'].mean()}, inplace=True)

In [ ]:
# Łączenie przekształconych danych w jeden DataFrame
merged_df = pd.merge(df_employees, pivot_hours, on='ID', how='left')
merged_df

In [ ]:
# Usuwanie duplikatów
merged_df = merged_df.drop_duplicates()
merged_df

In [ ]:
# Sortowanie danych według wynagrodzenia

In [ ]:
# Zapisanie przetworzonych danych do nowego pliku Excel

In [ ]:
# Tworzenie wykresów

In [ ]:
# Dodanie wykresu słupkowego dla średnich wynagrodzeń

In [ ]:
# Dodanie wykresu liniowego dla wynagrodzeń

In [ ]:
# Dodanie wykresu kołowego dla rozkładu wynagrodzeń

In [ ]:
# Dodanie wykresu punktowego dla wynagrodzeń

In [ ]:
# Zapis pliku