# Analiza z Pandas

## 1. DataFrame w Pandas

#### Tworzenie DataFrame w Pandas:

In [6]:
import pandas as pd

# Tworzenie DataFrame z Dictionary
df_slownik = pd.DataFrame({'A': 1.0,
                            'B': pd.Timestamp('20220101'),
                            'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                            'D': pd.Categorical(["test", "train", "test", "train"]),
                            'E': 'foo'})

In [8]:
print(df_slownik)

     A          B    C      D    E
0  1.0 2022-01-01  1.0   test  foo
1  1.0 2022-01-01  1.0  train  foo
2  1.0 2022-01-01  1.0   test  foo
3  1.0 2022-01-01  1.0  train  foo

## 2. Wczytywanie i Zapis Danych w Różnych Formatach

#### Wczytywanie Danych w Pandas:

import pandas as pd

# Wczytywanie danych z pliku CSV
df_csv = pd.read_csv('nazwa_pliku.csv')

# Wczytywanie danych z pliku Excel
df_excel = pd.read_excel('nazwa_pliku.xlsx', sheet_name='Arkusz1')

In [12]:
# Ścieżka względna
df = pd.read_csv('../DayTwo/top_100_world_university_2024_new.csv')
df

,sequence,rank,university,overall_score,academic_reputation,employer_reputation,faculty_student_ratio,citations_per_faculty,international_faculty_ratio,international_students_ratio,international_research_network,employment_outcomes,sustainability,Fundos (US$)
0,0,1,Massachusetts Institute of Technology (MIT),100.0,100.0,100.0,100.0,100.0,100.0,88.2,94.3,100.0,95.2,9.2
1,1,2,University of Cambridge,99.2,100.0,100.0,100.0,92.3,100.0,95.8,99.9,100.0,97.3,7.8
2,2,3,University of Oxford,98.9,100.0,100.0,100.0,90.6,98.2,98.2,100.0,100.0,97.8,6.7
3,3,4,Harvard University,98.3,100.0,100.0,98.3,100.0,84.6,66.8,100.0,100.0,96.7,6.3
4,4,5,Stanford University,98.1,100.0,100.0,100.0,99.9,99.9,51.2,95.8,100.0,94.4,6.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,100,100,University of Nottingham,60.4,60.7,72.1,32.2,46.5,90.0,75.2,98.4,24.4,80.0,0
101,101,102,University of Wisconsin-Madison,60.0,80.2,47.8,61.3,37.4,30.9,22.8,83.6,73.1,83.7,0
102,102,103,Pontificia Universidad CatÃ³lica de Chile (UC),59.9,92.9,99.5,20.6,11.6,16.4,3.5,56.8,76.3,91.3,0
103,103,104,The University of Sheffield,59.7,58.7,52.3,54.7,46.9,84.0,97.5,96.1,24.9,76.3,0
104,104,105,Uppsala University,59.4,62.7,30.5,47.7,45.6,98.3,82.4,95.5,58.2,99.4,0

In [14]:
# Ścieżka bezwzględna
dfTwo = pd.read_csv(r'C:\Users\PabloPapito\pythonWPracyZMSExcel\DayTwo\jobs_in_data.csv')
dfTwo.head()

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M

#### Zapis Danych w Pandas:

# Zapisywanie danych do pliku CSV
df_csv.to_csv('nowy_plik.csv', index=False)

# Zapisywanie danych do pliku Excel
df_excel.to_excel('nowy_plik.xlsx', sheet_name='NowyArkusz', index=False)

In [21]:
df_slownik.to_csv('NowyPlikSlownik.csv', index=False)
df_slownik.to_excel('NowyPlikExcel.xlsx', sheet_name='Slownik', index=False)

In [22]:
# Sprawdzenie Current Working Directory (CWD) w JupyterNotebook
# metoda 1
import os

notebook_path = os.getcwd()
print(notebook_path)

# metoda 2
from ipykernel import get_connection_file
# import os - to już zaimportowaliśmy więc nie ma potrzeby powielać, natomiast jest niezbędnę do wykorzystania metody 2

connection_file = get_connection_file()
notebook_path = os.path.dirname(connection_file)
print(notebook_path)

C:\Users\PabloPapito\PythonWAnalizieDanych\DayTwo
C:\Users\PabloPapito\AppData\Roaming\jupyter\runtime

## 3. Podstawowe Atrybuty DataFrame w Pandas

#### Atrybut shape:

In [23]:
import pandas as pd

# Przykładowe utworzenie DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Sprawdzenie kształtu DataFrame
ksztalt = df.shape
print("Kształt DataFrame:", ksztalt)

Kształt DataFrame: (3, 2)

#### Atrybut index:

In [24]:
# Sprawdzenie indeksów wierszy DataFrame
indeksy = df.index
print("Indeksy wierszy DataFrame:", indeksy)

Indeksy wierszy DataFrame: RangeIndex(start=0, stop=3, step=1)

#### Atrybut columns:

In [25]:
# Sprawdzenie etykiet kolumn DataFrame
etykiety_kolumn = df.columns
print("Etykiety kolumn DataFrame:", etykiety_kolumn)

Etykiety kolumn DataFrame: Index(['A', 'B'], dtype='object')

#### Atrybut dtypes:

In [26]:
# Sprawdzenie typów danych kolumn DataFrame
typy_danych = df.dtypes
print("Typy danych kolumn DataFrame:\n", typy_danych)

Typy danych kolumn DataFrame:
 A    int64
B    int64
dtype: object

## 4. Przydatne funckje w Pandas

In [27]:
# Przykład użycia describe
opis_statystyczny = df.describe()
print("Opis statystyczny DataFrame:\n", opis_statystyczny)

Opis statystyczny DataFrame:
          A    B
count  3.0  3.0
mean   2.0  5.0
std    1.0  1.0
min    1.0  4.0
25%    1.5  4.5
50%    2.0  5.0
75%    2.5  5.5
max    3.0  6.0

In [28]:
# Przykład użycia info
informacje_o_danych = df.info()
print("Informacje o danych w DataFrame:\n", informacje_o_danych)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
dtypes: int64(2)
memory usage: 180.0 bytes
Informacje o danych w DataFrame:
 None

In [29]:
# Przykład użycia head
pierwsze_wiersze = df.head(3)  # Zwróci trzy pierwsze wiersze
print("Pierwsze trzy wiersze DataFrame:\n", pierwsze_wiersze)

Pierwsze trzy wiersze DataFrame:
    A  B
0  1  4
1  2  5
2  3  6

In [30]:
# Przykład użycia tail
ostatnie_wiersze = df.tail(3)  # Zwróci trzy ostatnie wiersze
print("Ostatnie trzy wiersze DataFrame:\n", ostatnie_wiersze)

Ostatnie trzy wiersze DataFrame:
    A  B
0  1  4
1  2  5
2  3  6

In [31]:
# Przykład użycia sample
losowe_wiersze = df.sample(3)  # Zwróci trzy losowe wiersze
print("Losowe trzy wiersze DataFrame:\n", losowe_wiersze)

Losowe trzy wiersze DataFrame:
    A  B
2  3  6
0  1  4
1  2  5

## 5. Sortowanie Danych w Pandas

#### Sortowanie Wierszy:

In [42]:
import pandas as pd

# Przykładowe utworzenie DataFrame do sortowania wierszy
data = {'A': [3, 1, 4, 2],
        'B': ['c', 'a', 'd', 'b']}
df = pd.DataFrame(data)

# Sortowanie wierszy według kolumny 'A'
df_posortowany = df.sort_values(by='A')

print("DataFrame po posortowaniu wierszy według kolumny 'A':\n", df_posortowany)

DataFrame po posortowaniu wierszy według kolumny 'A':
    A  B
1  1  a
3  2  b
0  3  c
2  4  d

#### Sortowanie Kolumn:

In [43]:
# Sortowanie kolumn według etykiet kolumn
df_kolumny_posortowane = df.sort_index(axis=1) # axis=1 - czyli po kolumnie ale indeksowej/etykietach

print("DataFrame po posortowaniu kolumn według etykiet:\n", df_kolumny_posortowane)

DataFrame po posortowaniu kolumn według etykiet:
    A  B
0  3  c
1  1  a
2  4  d
3  2  b

#### Sortowanie Malejące:

In [44]:
# Sortowanie wierszy malejąco według kolumny 'A'
df_posortowany_malejaco = df.sort_values(by='A', ascending=False) # ascending - rosnąco, descending - malejąco ascending=False= rosnąco? - nie

print("DataFrame po posortowaniu malejąco według kolumny 'A':\n", df_posortowany_malejaco)

DataFrame po posortowaniu malejąco według kolumny 'A':
    A  B
2  4  d
0  3  c
3  2  b
1  1  a

## 6. Filtrowanie Danych w Pandas

Filtrowanie danych w pandas – Przykłady z domyślnymi indeksami
Filtrowanie w pandas pozwala na wybieranie danych z tabeli (DataFrame) według określonych kryteriów. W tej wersji korzystamy z domyślnych indeksów liczbowych (0, 1, 2, ...).

In [10]:
import pandas as pd

# Przykładowy DataFrame do filtrowania
data = {'A': [1, 2, 3, 4],    # Kolumna 'A' z wartościami liczbowymi
        'B': ['a', 'b', 'c', 'd']}  # Kolumna 'B' z wartościami tekstowymi

# Tworzymy DataFrame z domyślnymi indeksami 0, 1, 2, ...
df = pd.DataFrame(data)

# Wyświetlamy pełny DataFrame przed filtrowaniem
print("Przykładowe dane do filtrowania:\n", df, "\n")

Przykładowe dane do filtrowania:
    A  B
0  1  a
1  2  b
2  3  c
3  4  d

#### Filtrowanie za pomocą loc:

In [33]:
# ------------------- Filtrowanie za pomocą loc -------------------

# Filtrowanie wierszy o indeksach 0 i 1 oraz wybieranie kolumny 'A'
df_filtr_loc = df.loc[[0, 1], 'A']  # Wybieramy wartości w kolumnie 'A' dla pierwszych dwóch wierszy
print("Filtrowanie za pomocą loc:\n", df_filtr_loc, "\n")

Filtrowanie za pomocą loc:
 0    1
1    2
Name: A, dtype: int64

#### Filtrowanie za pomocą iloc:

In [31]:
# ------------------- Filtrowanie za pomocą iloc -------------------

# Filtrowanie pierwszych dwóch wierszy oraz pierwszej kolumny
df_filtr_iloc = df.iloc[:2, 0]  # Pierwsze dwa wiersze (wiersze 0 i 1) i pierwsza kolumna (indeks 0)
print("Filtrowanie za pomocą iloc:\n", df_filtr_iloc, "\n")

Filtrowanie za pomocą iloc:
 0    1
1    2
Name: A, dtype: int64

#### Filtrowanie za pomocą query:

In [29]:
# ------------------- Filtrowanie za pomocą query -------------------

# Filtrowanie wierszy, gdzie wartość w kolumnie 'A' jest większa niż 2
df_filtr_query = df.query('A > 2')  # Zwraca wiersze, gdzie kolumna 'A' > 2
print("Filtrowanie za pomocą query:\n", df_filtr_query, "\n")

Filtrowanie za pomocą query:
    A  B
2  3  c
3  4  d

#### Filtrowanie za pomocą where:

In [27]:
# ------------------- Filtrowanie za pomocą where -------------------

# Filtrowanie z zachowaniem struktury i zastąpieniem niespełniających warunku wartości NaN
df_filtr_where = df.where(df['A'] > 2)  # Tylko wiersze z 'A' > 2, reszta jako NaN
print("Filtrowanie za pomocą where:\n", df_filtr_where, "\n")

Filtrowanie za pomocą where:
      A    B
0  NaN  NaN
1  NaN  NaN
2  3.0    c
3  4.0    d

#### Filtrowanie za pomocą isin:

In [25]:
# ------------------- Filtrowanie za pomocą isin -------------------

# Filtrowanie wierszy, gdzie kolumna 'B' zawiera wartości 'a' lub 'c'
df_filtr_isin = df[df['B'].isin(['a', 'c'])]  # Zwraca wiersze, gdzie kolumna 'B' ma wartość 'a' lub 'c'
print("Filtrowanie za pomocą isin:\n", df_filtr_isin, "\n")

Filtrowanie za pomocą isin:
    A  B
0  1  a
2  3  c

#### Filtrowanie za pomocą isnull i notnull:

In [23]:
# ------------------- Filtrowanie braków danych -------------------

# Dodanie brakującej wartości (NaN), aby pokazać działanie isnull i notnull
df_with_nan = df.copy()  # Tworzymy kopię DataFrame
df_with_nan.loc[2, 'A'] = None  # Wstawiamy NaN w trzecim wierszu (wiersz 2) kolumny 'A'

# Filtrowanie wierszy, gdzie wartość w kolumnie 'A' jest NaN
df_filtr_isnull = df_with_nan[df_with_nan['A'].isnull()]  # Wybiera wiersze, gdzie 'A' to NaN
print("Filtrowanie za pomocą isnull:\n", df_filtr_isnull, "\n")

# Filtrowanie wierszy, gdzie wartość w kolumnie 'A' nie jest NaN
df_filtr_notnull = df_with_nan[df_with_nan['A'].notnull()]  # Wybiera wiersze, gdzie 'A' nie jest NaN
print("Filtrowanie za pomocą notnull:\n", df_filtr_notnull, "\n")

Filtrowanie za pomocą isnull:
     A  B
2 NaN  c

Filtrowanie za pomocą notnull:
      A  B
0  1.0  a
1  2.0  b
3  4.0  d

## 7. Grupowanie Danych w Pandas

#### Grupowanie na Podstawie Jednej Kolumny:

In [55]:
import pandas as pd

# Przykładowe utworzenie DataFrame do grupowania
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 20, 30, 40, 50, 60]}
df = pd.DataFrame(data)

# Grupowanie na podstawie kolumny 'Category' i obliczanie sumy dla każdej grupy
grupowanie_jedna_kolumna = df.groupby('Category').sum()

print("Wynik grupowania na podstawie jednej kolumny:\n", grupowanie_jedna_kolumna)

Wynik grupowania na podstawie jednej kolumny:
           Value
Category
A            90
B           120

#### Grupowanie na Podstawie Wielu Kolumn:

In [56]:
# Grupowanie na podstawie wielu kolumn i obliczanie sumy dla każdej grupy
grupowanie_wiele_kolumn = df.groupby(['Category', 'Value']).size().reset_index(name='Count') # Dane nie zostały zgrupowane, ponieważ przykładowe dane są różnorodne

print("Wynik grupowania na podstawie wielu kolumn:\n", grupowanie_wiele_kolumn)

Wynik grupowania na podstawie wielu kolumn:
   Category  Value  Count
0        A     10      1
1        A     30      1
2        A     50      1
3        B     20      1
4        B     40      1
5        B     60      1

#### Wykonywanie Różnych Operacji dla Każdej Grupy:

In [57]:
# Grupowanie i obliczanie różnych statystyk dla każdej grupy
grupowanie_statystyki = df.groupby('Category').agg({'Value': ['sum', 'mean', 'count']})

print("Wynik grupowania z różnymi operacjami dla każdej grupy:\n", grupowanie_statystyki)

Wynik grupowania z różnymi operacjami dla każdej grupy:
          Value
           sum  mean count
Category
A           90  30.0     3
B          120  40.0     3

## 8. Łączenie Danych w Pandas

#### Łączenie na Podstawie Wspólnej Kolumny:

In [58]:
import pandas as pd

# Przykładowe utworzenie dwóch DataFrame'ów do łączenia
df1 = pd.DataFrame({'ID': [1, 2, 3],
                    'Value1': ['A', 'B', 'C']})

df2 = pd.DataFrame({'ID': [2, 3, 4],
                    'Value2': ['X', 'Y', 'Z']})

# Łączenie na podstawie wspólnej kolumny 'ID', domyślne łączenie to inner join, dodając parametr how='' możemy zmienić łączenie
laczenie_kolumna = pd.merge(df1, df2, on='ID')

print("Wynik łączenia na podstawie wspólnej kolumny:\n", laczenie_kolumna)

Wynik łączenia na podstawie wspólnej kolumny:
    ID Value1 Value2
0   2      B      X
1   3      C      Y

#### Łączenie na Podstawie Wspólnego Indeksu:

In [24]:
# Przykładowe utworzenie dwóch DataFrame'ów do łączenia na podstawie indeksu
df3 = pd.DataFrame({'Value3': ['M', 'N', 'O']}, index=[1, 2, 3])

# Łączenie na podstawie wspólnego indeksu
laczenie_indeks = pd.concat([df1, df3], axis=1)

print("Wynik łączenia na podstawie wspólnego indeksu:\n", laczenie_indeks)

Wynik łączenia na podstawie wspólnego indeksu:
     ID Value1 Value3
0  1.0      A    NaN
1  2.0      B      M
2  3.0      C      N
3  NaN    NaN      O

#### Łączenie na Podstawie Wspólnego Indeksu w Kierunku Pionowym:

In [60]:
# Łączenie na podstawie wspólnego indeksu w kierunku pionowym
laczenie_pionowe = pd.concat([df1, df3], axis=0)
# axis=0 – oznacza, że łączenie odbywa się wzdłuż wierszy (czyli w pionie).
# Domyślnie łączenie jest wykonywane wzdłuż osi 0, więc ten parametr jest opcjonalny w tym przypadku.

print("Wynik łączenia na podstawie wspólnego indeksu w kierunku pionowym:\n", laczenie_pionowe)

Wynik łączenia na podstawie wspólnego indeksu w kierunku pionowym:
     ID Value1 Value3
0  1.0      A    NaN
1  2.0      B    NaN
2  3.0      C    NaN
1  NaN    NaN      M
2  NaN    NaN      N
3  NaN    NaN      O

In [29]:
# Indeksy zostały zachowane, więc wynikowy DataFrame ma powtarzające się indeksy (0, 1, 2). Można je zresetować, używając metody reset_index():

laczenie_pionowe_reset_index = pd.concat([df1, df3], axis=0).reset_index(drop=True)

print("Wynik łączenia na podstawie wspólnego indeksu w kierunku pionowym po reset index:\n", laczenie_pionowe_reset_index)

Wynik łączenia na podstawie wspólnego indeksu w kierunku pionowym po reset index:
     ID Value1 Value3
0  1.0      A    NaN
1  2.0      B    NaN
2  3.0      C    NaN
3  NaN    NaN      M
4  NaN    NaN      N
5  NaN    NaN      O

## 9. Tworzenie Nowych Atrybutów w Pandas

#### Dodawanie Nowego Atrybutu na Podstawie Istniejących Kolumn:

In [61]:
import pandas as pd

# Przykładowe utworzenie DataFrame
df = pd.DataFrame({'Value1': [10, 20, 30],
                   'Value2': [5, 15, 25]})

# Dodawanie nowego atrybutu 'Sum' na podstawie istniejących kolumn
df['Sum'] = df['Value1'] + df['Value2']

print("DataFrame z dodanym atrybutem 'Sum':\n", df)

DataFrame z dodanym atrybutem 'Sum':
    Value1  Value2  Sum
0      10       5   15
1      20      15   35
2      30      25   55

#### Dodawanie Nowego Atrybutu na Podstawie Warunków Logicznych:

In [62]:
# Dodawanie nowego atrybutu 'Category' na podstawie warunków logicznych
df['Category'] = ['High' if x > 15 else 'Low' for x in df['Sum']]

print("DataFrame z dodanym atrybutem 'Category':\n", df)

DataFrame z dodanym atrybutem 'Category':
    Value1  Value2  Sum Category
0      10       5   15      Low
1      20      15   35     High
2      30      25   55     High

#### Utworzenie Nowego Atrybutu przy Użyciu Funkcji:

In [63]:
# Utworzenie nowego atrybutu 'Product' przy użyciu funkcji
def categorize_product(sum_value):
    if sum_value > 30:
        return 'Premium'
    elif sum_value > 20:
        return 'Standard'
    else:
        return 'Basic'

df['Product'] = df['Sum'].apply(categorize_product)

print("DataFrame z dodanym atrybutem 'Product':\n", df)

DataFrame z dodanym atrybutem 'Product':
    Value1  Value2  Sum Category  Product
0      10       5   15      Low    Basic
1      20      15   35     High  Premium
2      30      25   55     High  Premium