# Ćwiczenie 2: Tworzenie zaawansowanego pliku Excel za pomocą xlsxwriter

#### Tworzenie nowego pliku z wieloma arkuszami

In [41]:
# Utwórz plik Excel z wieloma arkuszami, dodaj dane do każdego arkusza i zastosuj formatowanie.

import xlsxwriter

# Tworzenie nowego pliku Excel
workbook = xlsxwriter.Workbook('xlsxwriter_cw2.xlsx')
worksheet1 = workbook.add_worksheet('Sheet1')
worksheet2 = workbook.add_worksheet('Sheet2')

# Dodawanie nagłówków do Sheet1
worksheet1.write('A1', 'ID')
worksheet1.write('B1', 'Name')
worksheet1.write('C1', 'Age')
worksheet1.write('D1', 'Department')
worksheet1.write('E1', 'Salary')

# Dodawanie większej ilości danych do Sheet1
data_sheet1 = [
    [1, 'Alice', 30, 'HR', 50000],
    [2, 'Bob', 24, 'Engineering', 55000],
    [3, 'Charlie', 29, 'Marketing', 60000],
    [4, 'David', 35, 'Finance', 70000],
    [5, 'Eva', 28, 'IT', 65000],
    [6, 'Frank', 33, 'HR', 52000],
    [7, 'Grace', 26, 'Engineering', 58000],
    [8, 'Hank', 31, 'Marketing', 61000],
    [9, 'Ivy', 38, 'Finance', 72000],
    [10, 'Jack', 27, 'IT', 66000],
    [11, 'Kim', 34, 'HR', 53000],
    [12, 'Leo', 25, 'Engineering', 59000],
    [13, 'Mia', 32, 'Marketing', 62000],
    [14, 'Nina', 39, 'Finance', 73000],
    [15, 'Oscar', 29, 'IT', 67000],
    [16, 'Paul', 36, 'HR', 54000],
    [17, 'Quinn', 28, 'Engineering', 60000],
    [18, 'Rose', 37, 'Marketing', 63000],
    [19, 'Sam', 40, 'Finance', 74000],
    [20, 'Tina', 26, 'IT', 68000]
]

# Pętla for do zapisu danych do Sheet1
row = 1
for entry in data_sheet1:
    worksheet1.write_row(row, 0, entry)
    row += 1

# Dodawanie nagłówków do Sheet2
bold = workbook.add_format({'bold': True})
worksheet2.write('A1', 'Product', bold)
worksheet2.write('B1', 'Price', bold)
worksheet2.write('C1', 'Quantity', bold)
worksheet2.write('D1', 'Category', bold)

# Dodawanie większej ilości danych do Sheet2
data_sheet2 = [
    ['Apple', 0.5, 150, 'Fruit'],
    ['Banana', 0.3, 200, 'Fruit'],
    ['Carrot', 0.4, 100, 'Vegetable'],
    ['Dairy Milk', 1.5, 50, 'Dairy'],
    ['Eggs', 2.0, 75, 'Dairy'],
    ['Fish', 5.0, 40, 'Meat'],
    ['Grapes', 2.5, 60, 'Fruit'],
    ['Honey', 3.0, 30, 'Dairy'],
    ['Ice Cream', 4.0, 80, 'Dairy'],
    ['Juice', 2.2, 90, 'Beverage'],
    ['Kiwi', 1.2, 100, 'Fruit'],
    ['Lettuce', 0.8, 120, 'Vegetable'],
    ['Mango', 1.5, 85, 'Fruit'],
    ['Nuts', 3.5, 45, 'Snack'],
    ['Orange', 0.6, 160, 'Fruit'],
    ['Papaya', 1.8, 70, 'Fruit'],
    ['Quinoa', 4.0, 40, 'Grain'],
    ['Rice', 1.0, 200, 'Grain'],
    ['Spinach', 0.9, 110, 'Vegetable'],
    ['Tomato', 0.7, 140, 'Vegetable']
]

# Pętla for do zapisu danych do Sheet2
row = 1
for entry in data_sheet2:
    worksheet2.write_row(row, 0, entry)
    row += 1

# Zamknięcie pliku
workbook.close()

In [43]:
# Podgląd pliku.

import pandas as pd

wbCheck = pd.read_excel('xlsxwriter_cw2.xlsx', sheet_name=None)

print(wbCheck.keys())

dict_keys(['Sheet1', 'Sheet2'])

In [45]:
print(wbCheck['Sheet1'])

    ID     Name  Age   Department  Salary
0    1    Alice   30           HR   50000
1    2      Bob   24  Engineering   55000
2    3  Charlie   29    Marketing   60000
3    4    David   35      Finance   70000
4    5      Eva   28           IT   65000
5    6    Frank   33           HR   52000
6    7    Grace   26  Engineering   58000
7    8     Hank   31    Marketing   61000
8    9      Ivy   38      Finance   72000
9   10     Jack   27           IT   66000
10  11      Kim   34           HR   53000
11  12      Leo   25  Engineering   59000
12  13      Mia   32    Marketing   62000
13  14     Nina   39      Finance   73000
14  15    Oscar   29           IT   67000
15  16     Paul   36           HR   54000
16  17    Quinn   28  Engineering   60000
17  18     Rose   37    Marketing   63000
18  19      Sam   40      Finance   74000
19  20     Tina   26           IT   68000

In [47]:
print(wbCheck['Sheet2'])

       Product  Price  Quantity   Category
0        Apple    0.5       150      Fruit
1       Banana    0.3       200      Fruit
2       Carrot    0.4       100  Vegetable
3   Dairy Milk    1.5        50      Dairy
4         Eggs    2.0        75      Dairy
5         Fish    5.0        40       Meat
6       Grapes    2.5        60      Fruit
7        Honey    3.0        30      Dairy
8    Ice Cream    4.0        80      Dairy
9        Juice    2.2        90   Beverage
10        Kiwi    1.2       100      Fruit
11     Lettuce    0.8       120  Vegetable
12       Mango    1.5        85      Fruit
13        Nuts    3.5        45      Snack
14      Orange    0.6       160      Fruit
15      Papaya    1.8        70      Fruit
16      Quinoa    4.0        40      Grain
17        Rice    1.0       200      Grain
18     Spinach    0.9       110  Vegetable
19      Tomato    0.7       140  Vegetable

#### Dodaj wykresy do arkusza, aby wizualizować dane.

In [54]:
from openpyxl import load_workbook
from openpyxl.drawing.image import Image
from openpyxl.chart import BarChart, Reference

# Ponowne otwarcie pliku za pomocą openpyxl
wb = load_workbook('xlsxwriter_cw2.xlsx')
ws1 = wb['Sheet1']
ws2 = wb['Sheet2']

# Dodawanie wykresu do Sheet1
chart1 = BarChart()
data1 = Reference(ws1, min_col=5, min_row=1, max_row=21)  # Salary data
categories1 = Reference(ws1, min_col=2, min_row=2, max_row=21)  # Employee names
chart1.add_data(data1, titles_from_data=True)
chart1.set_categories(categories1)
chart1.title = "Employee Salaries"
chart1.x_axis.title = "Employee"
chart1.y_axis.title = "Salary"
ws1.add_chart(chart1, "G2")

# Dodawanie wykresu do Sheet2
chart2 = BarChart()
data2 = Reference(ws2, min_col=2, min_row=1, max_row=21)  # Price data
categories2 = Reference(ws2, min_col=1, min_row=2, max_row=21)  # Product names
chart2.add_data(data2, titles_from_data=True)
chart2.set_categories(categories2)
chart2.title = "Product Prices"
chart2.x_axis.title = "Product"
chart2.y_axis.title = "Price"
ws2.add_chart(chart2, "F2")

# Zapisanie pliku z wykresami
wb.save('xlsxwriter_cw2_with_charts.xlsx')